@media only screen and (max-width: $mobile) {
    .footer {
        padding: 56px 117px 66px;

        &__container {
            display: block;
            text-align: center;
        }

        &--left {
            margin-right: 0;
            margin-bottom: 29px;
            width: 100%;
        }

        &__logo {
            display: inline-flex;
        }

        &--center {
            margin-bottom: 19px;
            width: 100%;

            &__address {
                margin-bottom: 18px;
            }
        }

        &--right {
            margin-left: 0;
            margin-top: 0;
            width: 100%;

            &__copyright {
                width: 100%;
            }
        }
    }
}
