.footer {
    padding: 37px 148px 78px 153px;
    background-color: $grey-color;

    &__container {
        display: flex;
    }

    // Left side
    &--left {
        margin-right: 81px;
    }

    &__logo {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $white-color;

        &-icon {
            margin-right: 16px;
        }
    }

    // Center
    &--center {
        @include footer-text;

        &__address {
            margin-bottom: 27px;
        }

        &__mail {
            @include footer-text;

            text-decoration: none;
        }
    }

    // Right side
    &--right {
        margin-left: auto;
        margin-top: auto;

        &__copyright {
            @include footer-text;

            align-items: flex-end;
            width: 100%;
        }
    }
}
