.header {
    padding: 45px 92px 256px;
    background-image: url('./../assets/header-bg-img.png');
    background-position: center;
    background-size: cover;

    &__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 203px;
        position: relative;

        &-text {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 16px;
            letter-spacing: 0.1em;
            color: $white-color;
        }
    }

    &__section {
        text-align: center;

        &-logo {
            animation: logo 1s ease-in-out 1s infinite alternate both;
            margin-bottom: 13px;
            transition: all 1s;
            display: inline-block;
        }

        &-title {
            @include section-heading(42px, $white-color);
        }

        &-text {
            @include section-text(0, $text-color);

            display: inline-block;
            max-width: 389px;
        }
    }
}

#checkbox-box {
    display: none;
}

@keyframes logo {
    100% {
        transform: rotateY(180deg) scale(1.3);
    }
}
