@media only screen and (max-width: $mobile) {
    .header {
        padding: 41px 20px 241px 27px;

        &__line {
            margin-bottom: 201px;
            display: block;
        }

        &__section {
            text-align: center;

            &-logo {
                margin-bottom: 13px;
            }

            &-title {
                margin-bottom: 41px;
            }

            &-text {
                max-width: 426px;
            }
        }
    }

    // MENU BURGER
    .burger {
        width: 25px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 0;

        &::after,
        &::before {
            content: '';

            @include hamburger-line;

            bottom: 0.1px;
            transform-origin: 0% 64%;
            transition: transform 0.4s ease-in-out;
        }

        &::before {
            top: 0.1px;
            transform-origin: 23% -28%;
            transition: transform 0.4s ease-in-out;
        }
    }

    .burger span {
        @include hamburger-line;

        top: 41%;
        transition-duration: 0.5s;
    }

    #checkbox-box {
        display: none;

        &:checked ~ .burger::before {
            transform: rotate(45deg);
        }

        &:checked ~ .burger::after {
            transform: rotate(-45deg);
        }

        &:checked ~ .burger span {
            background: transparent;
            transition-duration: 0.5s;
        }

        &:checked ~ .nav {
            transform: translateX(0);
        }
    }
}
