.nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: block;

    &__menu {
        list-style-type: none;
        display: flex;

        &-item {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.2em;

            &:not(:first-child) {
                padding-left: 14px;
            }

            &__link {
                text-decoration: none;
                color: $white-color;
                white-space: nowrap;
                padding: 6px 0;
            }

            &__link:hover {
                border-bottom: 2px solid $white-color;
                outline: white;
            }
        }
    }
}
