@media only screen and (max-width: $mobile) {
    .nav {
        position: absolute;
        left: 0;
        width: 100%;
        transform: translate(-150%);
        margin: 21px 0;
        background-color: $grey-color;
        transition: transform 0.5s ease-in-out;
        box-shadow: 0 0 20px 0 #aaa;
        border-radius: 10px;
        z-index: 1;

        &__menu {
            list-style-type: none;
            display: block;
            padding: 40px;
            text-align: center;

            &-item {
                padding: 10px 0;

                &:not(:first-child) {
                    padding-left: 0;
                }
            }
        }
    }
}
