.text {
    padding: 66px 92px 98px 152px;

    &__title {
        @include section-heading(39px, $grey-color);
    }

    &__subtitle {
        @include section-text(45px, $lightgrey-color);
    }

    &__info-wrapper {
        display: flex;
        margin-bottom: 46px;
        justify-content: space-between;
    }

    &__info {
        @include box-text($lightgrey-color);

        width: 408px;
    }

    &__btn {
        font-family: Oswald, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.1em;
        color: $white-color;
        background: $blue-color;
        border: none;
        padding: 5px 22px;
        border-radius: 18px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        transition: all 0.6s;

        &:hover {
            transform: rotate(8deg);
            transform-origin: left;
        }
    }
}
