@media only screen and (max-width: $mobile) {
    .text {
        padding: 68px 4px 116px 27px;

        &__title {
            @include section-heading(39px, $grey-color);

            width: 355px;
            margin: 0 auto 39px;
        }

        &__info-wrapper {
            display: block;
            margin-bottom: 46px;
        }

        &__info {
            @include box-text($lightgrey-color);

            width: 100%;
            margin-bottom: 24px;
        }
    }
}
