.video {
    background-image: linear-gradient($video-bg-color, $video-bg-color),
        url('./../assets/video-bg.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 80px 0 86px;

    &__title {
        @include section-heading(63px, $white-color);
    }

    &__btn {
        padding: 50px 41px 44px 56px;
        width: 145px;
        height: 143.47px;
        border-radius: 50%;
        background-color: $paly-btn-color;
        border: none;
        font-size: 15px;
        color: $white-color;
        margin-bottom: 54px;
        transition: all 0.5s ease;
        cursor: pointer;
        &-symble {
            display: inline-block;
            transform: scale(5.3, 5.2);
        }

        &:hover {
            background-color: $white-color;
            color: $paly-btn-color;
            transform: scale(0.95);
        }
    }

    &__subtitle {
        @include section-text(0, $white-color);

        width: 352px;
        margin: 0 auto;
    }
}
