@media only screen and (max-width: $mobile) {
    .video {
        padding: 71px 42px 73px 45px;

        &__title {
            @include section-heading(91px, $white-color);
        }

        &__btn {
            margin-bottom: 82px;
        }
    }
}
