.header {
  padding: 45px 92px 256px;
  background-image: url("./../assets/header-bg-img.png");
  background-position: center;
  background-size: cover; }
  .header__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 203px;
    position: relative; }
    .header__line-text {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 16px;
      letter-spacing: 0.1em;
      color: #fff; }
  .header__section {
    text-align: center; }
    .header__section-logo {
      animation: logo 1s ease-in-out 1s infinite alternate both;
      margin-bottom: 13px;
      transition: all 1s;
      display: inline-block; }
    .header__section-title {
      font-family: Oswald, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      margin-bottom: 42px;
      color: #fff; }
    .header__section-text {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 0;
      color: #ffffffb3;
      display: inline-block;
      max-width: 389px; }

#checkbox-box {
  display: none; }

@keyframes logo {
  100% {
    transform: rotateY(180deg) scale(1.3); } }

.nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: block; }
  .nav__menu {
    list-style-type: none;
    display: flex; }
    .nav__menu-item {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.2em; }
      .nav__menu-item:not(:first-child) {
        padding-left: 14px; }
      .nav__menu-item__link {
        text-decoration: none;
        color: #fff;
        white-space: nowrap;
        padding: 6px 0; }
      .nav__menu-item__link:hover {
        border-bottom: 2px solid #fff;
        outline: white; }

.text {
  padding: 66px 92px 98px 152px; }
  .text__title {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 39px;
    color: #464547; }
  .text__subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 45px;
    color: #666; }
  .text__info-wrapper {
    display: flex;
    margin-bottom: 46px;
    justify-content: space-between; }
  .text__info {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666;
    width: 408px; }
  .text__btn {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background: #55c2d8;
    border: none;
    padding: 5px 22px;
    border-radius: 18px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.6s; }
    .text__btn:hover {
      transform: rotate(8deg);
      transform-origin: left; }

.video {
  background-image: linear-gradient(#8c4f2a4d, #8c4f2a4d), url("./../assets/video-bg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 80px 0 86px; }
  .video__title {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 63px;
    color: #fff; }
  .video__btn {
    padding: 50px 41px 44px 56px;
    width: 145px;
    height: 143.47px;
    border-radius: 50%;
    background-color: #39c2d7;
    border: none;
    font-size: 15px;
    color: #fff;
    margin-bottom: 54px;
    transition: all 0.5s ease;
    cursor: pointer; }
    .video__btn-symble {
      display: inline-block;
      transform: scale(5.3, 5.2); }
    .video__btn:hover {
      background-color: #fff;
      color: #39c2d7;
      transform: scale(0.95); }
  .video__subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 0;
    color: #fff;
    width: 352px;
    margin: 0 auto; }

.footer {
  padding: 37px 148px 78px 153px;
  background-color: #464547; }
  .footer__container {
    display: flex; }
  .footer--left {
    margin-right: 81px; }
  .footer__logo {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff; }
    .footer__logo-icon {
      margin-right: 16px; }
  .footer--center {
    font-family: 'Source Sans Pro', sans-serif;
    width: 173px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff6; }
    .footer--center__address {
      margin-bottom: 27px; }
    .footer--center__mail {
      font-family: 'Source Sans Pro', sans-serif;
      width: 173px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #fff6;
      text-decoration: none; }
  .footer--right {
    margin-left: auto;
    margin-top: auto; }
    .footer--right__copyright {
      font-family: 'Source Sans Pro', sans-serif;
      width: 173px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #fff6;
      align-items: flex-end;
      width: 100%; }

@media only screen and (max-width: 768px) {
  .header {
    padding: 41px 20px 241px 27px; }
    .header__line {
      margin-bottom: 201px;
      display: block; }
    .header__section {
      text-align: center; }
      .header__section-logo {
        margin-bottom: 13px; }
      .header__section-title {
        margin-bottom: 41px; }
      .header__section-text {
        max-width: 426px; }
  .burger {
    width: 25px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0; }
    .burger::after, .burger::before {
      content: '';
      width: 100%;
      height: 3px;
      position: absolute;
      background-color: #fff;
      bottom: 0.1px;
      transform-origin: 0% 64%;
      transition: transform 0.4s ease-in-out; }
    .burger::before {
      top: 0.1px;
      transform-origin: 23% -28%;
      transition: transform 0.4s ease-in-out; }
  .burger span {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    top: 41%;
    transition-duration: 0.5s; }
  #checkbox-box {
    display: none; }
    #checkbox-box:checked ~ .burger::before {
      transform: rotate(45deg); }
    #checkbox-box:checked ~ .burger::after {
      transform: rotate(-45deg); }
    #checkbox-box:checked ~ .burger span {
      background: transparent;
      transition-duration: 0.5s; }
    #checkbox-box:checked ~ .nav {
      transform: translateX(0); } }

@media only screen and (max-width: 768px) {
  .nav {
    position: absolute;
    left: 0;
    width: 100%;
    transform: translate(-150%);
    margin: 21px 0;
    background-color: #464547;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 0 20px 0 #aaa;
    border-radius: 10px;
    z-index: 1; }
    .nav__menu {
      list-style-type: none;
      display: block;
      padding: 40px;
      text-align: center; }
      .nav__menu-item {
        padding: 10px 0; }
        .nav__menu-item:not(:first-child) {
          padding-left: 0; } }

@media only screen and (max-width: 768px) {
  .text {
    padding: 68px 4px 116px 27px; }
    .text__title {
      font-family: Oswald, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      margin-bottom: 39px;
      color: #464547;
      width: 355px;
      margin: 0 auto 39px; }
    .text__info-wrapper {
      display: block;
      margin-bottom: 46px; }
    .text__info {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #666;
      width: 100%;
      margin-bottom: 24px; } }

@media only screen and (max-width: 768px) {
  .video {
    padding: 71px 42px 73px 45px; }
    .video__title {
      font-family: Oswald, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      margin-bottom: 91px;
      color: #fff; }
    .video__btn {
      margin-bottom: 82px; } }

@media only screen and (max-width: 768px) {
  .footer {
    padding: 56px 117px 66px; }
    .footer__container {
      display: block;
      text-align: center; }
    .footer--left {
      margin-right: 0;
      margin-bottom: 29px;
      width: 100%; }
    .footer__logo {
      display: inline-flex; }
    .footer--center {
      margin-bottom: 19px;
      width: 100%; }
      .footer--center__address {
        margin-bottom: 18px; }
    .footer--right {
      margin-left: 0;
      margin-top: 0;
      width: 100%; }
      .footer--right__copyright {
        width: 100%; } }

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  height: 100%; }

body {
  font-family: 'Source Sans Pro', sans-serif; }
